.menu:hover{
    width: 250px;
    height: 600px;
    border: 2px black solid;
    background-color:  #242625;
    color: #DEDEDE;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 200;
    line-height: 22px;
    word-spacing: 2px;
    letter-spacing: 0.7px;
    text-align: left; 
    transition: .3s linear;
}
 .menu{
    width: 90px;
    background-color:  #242625;
    overflow: hidden;
    color: #242625;
    
 }
 .menu>ul{
    padding: 15px;
 }
 .menu>ul>li>.profile>.right{
    display: none;
    
   
 }
 .menu:hover>ul>li>.profile>.right{
    display: block;
   
   
 }
.menu:hover>#mode>li {
    display: block;
}
 .menu>ul>li>.profile>.left{
    width: 34px;
    height: 34px; 
    color: #DEDEDE; 
 }
 
li {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    height: 45px;
}

.menu:hover>ul #searchInp{
    margin-top: 20px;
    border: #424444 solid 1px;
    border-radius: 4px;
    width: 200px;
    height: 30px;
    background-color: #424244;
    box-sizing: border-box;
   
}
.menu:hover>ul #searchInp>img{
    width: 25px;
    height: auto;
    text-align: left;
   
}
.menu>ul #searchInp>img{
    padding: 15px;
}

.bottom{
    margin-top: 100px;
    
}


#mode{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 72px;
    margin-left: 15px;
    justify-content: first baseline;
    align-items: center;
}

#mode>li{
    display: none;
 }

.menu:hover>ul>.bottom>#mode>li{
    display: flex;
}

.menu>ul>.bottom>#mode>#inputs{
    margin-left: 0px;
    padding: 10px;
    width: 25px;
}

.menu:hover>ul>.bottom>#mode>#inputs{
    display: flex;
    flex-direction: row;
    width: 70%;
    border:  #424244 solid 0.5px;
    background-color:  #424244;
    box-sizing: border-box;
    height: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    margin-left: 20px;
    padding: 2px;
}

#sun {
 background: transparent;
 opacity: 0;
}

.menu>ul>.bottom>#mode>#inputs{
    background-image: url(./img-icons/moon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left; 
    width: 35px;
    height: 5px; 
}
.menu:hover>ul>.bottom>#mode>#inputs>label{
    background-image: url(./img-icons/moon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 35px;
    height: 20px;
    z-index: 1;

}







