.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
  
    }

.left{
    background-color: #A492FF;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}
.right{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #DEDEDE;
}
.AnimatedFred{
    font-size: 16px;
    font-weight: 700;
}
.mail{
    font-size: 12px;
    font-weight: 400;
}

